<br>
<div style='text-align : center ' >
     © Copyright . All rights reserved.
</div>
<br>
  
<div  style='text-align : center ' >
	
		<a style='color:black' href='#'><img src="https://img.icons8.com/material/24/000000/facebook-f.png"/></a>
		
		<a style='color:black' href='https://www.linkedin.com/in/dhiraj-thakre-7854611a2/' > <img src="https://img.icons8.com/material/24/000000/linkedin.png"/></a>
			
		<a style='color:black' href='#' ><img src="https://img.icons8.com/material/24/000000/twitter-squared.png"/></a>
		<a style='color:black' href='#'><img src="https://img.icons8.com/material/24/000000/instagram-new.png"/></a>
		<a style='color:black'href='https://www.quora.com/profile/Dhiraj-Thakre-9'></a>
	
</div>
<br>
	  
<div  style='text-align : center '>
	 TradeMark By : Dhiraj Thakre	  
</div>
<br>
	