


<!======Adding header adds bootstrap functionality here ===========>
<body style="background-size: 100%";>	
<%- include ("partials/header") %>
<! Start the form >
<div class='container' >
	<h1 style="text-align:center ; opacity : 0.6" class="jumbotron" > Create a New Campground </h1>
	<div class='row'>
		<div style='width :30% ; margin :0 auto'> <! to get width of 30% and margin auto from left and right >
				<form action='/campgrounds' method='POST' style='opacity : 0.7'>
					<div class='form-group'> <! it will group up indivisually  >
						<input class='form-control'type='text' name='name' placeholder='Enter name ' required>
					</div>
					
					<div class='form-group'>
						<input class='form-control' type='text' name='image' placeholder='Enter Image URL' required > <! form up to make it in coloumn >
					</div>
					
					<div class=" form-group">
						<input class='form-control' type='text' name='description' placeholder='Enter the description for your image ' required >
					</div>
					
					<div class='form-group'>	
						<button class='btn btn-lg btn-primary btn-block'> Submit </button> <! block is used it will gain size of input bar >
					</div>	
				</form>	
		<!hyperlink> 
		<a href='/campgrounds' style ='color : black '> Go Back </a>	
		</div>
	</div>	
</div>
<br>	
<br>
<br>
	<footer style='background-color :rgb(176,224,230)' class="page-footer">
	<%- include ("partials/footer") %>
	</footer>
</body>
